.container{
 width: 100%;
height: 100vh;
margin: 10px;

}
.input{
    width: 50%;
    padding: 10px;
    border: none;
    /* border: 2px solid lightgoldenrodyellow; */
    /* border-radius: 5px; */
}
.btn{
    margin: 5px;
    padding: 7px 13px;
    border: none;
    border-radius: 5px;
}
.list-btn{
    float: inline-end;
}
.list-group{
    list-style: none;
}
.list-group-item{
    background-color: antiquewhite;
    width: 50%;
    padding: 20px;
    margin-bottom: 5px;
}